/* * {
    margin: 10;
    padding: 50;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
  } */
  #top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 95vw;
  }

  #topLine {
    height: 3px;
    width: 90%;
    background: #F1D047;
    position: relative;
    margin-bottom: 40px;
  }

  #centertop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #logo {
    float: left;
    display: flex;
    justify-content: left;
    align-items: center;
  }

.Instalink {
background-color: black;
color: #ffffff;
}
.Instalink:hover {
  cursor: pointer;
  opacity: 0.7;
}

  #contact {
    float: right;
    display: flex;
    justify-content: right;
    align-items: center;
  }

  .contactButton {
    background-color: #000000;
    color: white;
}
.contactbutton:hover {
  cursor: pointer;
  opacity: 0.7;
}
  
a {
  color: white;
}
  h2 {
    margin: 0;
  }

  #Title1 {
    padding-top: 225px;
    font-size: 50px;
    letter-spacing: 10px;
    color: #f9f9f9;
  }

  #Title2 {
    font-size: 10px;
    letter-spacing: 2px;
    color: black;
  }

  header {
    text-align: center;
    background-image: url(./pictures/LWND.PNG);
    background-size: cover;
    margin-bottom: 40px;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
  }

  .navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .navbar a:hover {
    background: #ddd;
    color: black;
  }

  #midLine {
    height: 3px;
    width: 90%;
    background: #F1D047;
    position: relative;
    margin: auto;
  }

  #midText {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #based {
    float: left;
    display: block;
    justify-content: left;
    color: #f2f2f2;
    margin-left: 5%;
    align-items: center;
  }

  #nationwide {
    justify-content: center;
    align-items: center;
    display: block;
    color: #f2f2f2;
    text-align: center;
  }

  #artDesc {
    float: right;
    display: block;
    justify-content: right;
    color: #f2f2f2;
    margin-right: 5%;
    align-items: center;
  }

  #midLine2 {
    height: 3px;
    width: 90%;
    background: #F1D047;
    position: relative;
    margin: auto;
  }

  .main {
    margin-top: 30px;
  }

  body {
    background-color: black;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
  }

  #me-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  #Me {
    background-color: #F1D047;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: max-content;
  }

  #experience {
    font-size: 50px;
    width: max-content;
    padding: 20px;
    margin: 0;
  }

#images {
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
  padding: 20px;
  gap: 20px;
}

#nested-links {
  display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.appLink {
  color: #000000;
  width: 25px;
  display: flex;
  justify-content: center;
  margin: auto;
}
.appLink:hover {
  cursor: pointer;
  opacity: 0.7;;
}

.linkedinLink {
  color: #000000;
  width: 25px;
  display: flex;
  justify-content: center;
  margin: auto;
}
.linkedinLink:hover {
  cursor: pointer;
  opacity: 0.7;;
}

.gitlink {
  color: #000000;
  width: 25px;
  display: flex;
  justify-content: center;
  margin: auto;
}
.gitlink:hover {
  cursor: pointer;
  opacity: 0.7;;
}

#nested-images {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
}

#aboutMebtn {
  display: block;
  background: black;
  color: white;
  height: 50px;
  font-size: larger;
  font-weight: bold
}
#aboutMebtn:hover {
  background: white;
  cursor: pointer;
  color: black;
}

  #digitalPic {
    width: 300px;
  }

  #acrylicPic {
    width: 300px;
  }

  #mePic {
    width: 500px;
  }


#selectedPieces {
  font-size: 50px;
  letter-spacing: 10px;
  color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#cardWrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#artCardContainer {
  background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: max-content;
}

#row1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
#row2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
#row3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
#row4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

#artCard1 {
  color: white;
  width: 300px;
}
  #ATreesAwakening {
    width: 300px;
  }
  #artCard2 {
    color: white;
    width: 300px;
  }
  #LWND {
    width: 300px;
  }
  #artCard3 {
    color: white;
    width: 300px;
  }
  #SharkConservation {
      width: 300px;
  }
  #artCard4 {
    color: white;
    width: 300px;
  }
  #DesertStorm {
      width: 300px;
  }
  #artCard5 {
    color: white;
    width: 300px;
  }
  #WinterHope {
      width: 300px;
  }
  #artCard6 {
    color: white;
    width: 300px;
  }
  #Perspective {
      width: 300px;
  }
  #artCard7 {
    color: white;
    width: 300px;
  }
  #Trials {
      width: 300px;
  }
  #artCard8 {
    color: white;
    width: 300px;
  }
  #StatueOfRa {
      width: 300px;
  }
  #artCard9 {
    color: white;
    width: 300px;
  }
  #Dream {
      width: 300px;
  }
  #artCard10 {
    color: white;
    width: 300px;
  }
  #BlueFlower {
      width: 300px;
  }
  #artCard11 {
    color: white;
    width: 300px;
  }
  #DanReynolds {
      width: 300px;
  }
  #artCard12 {
    color: white;
    width: 300px;
  }
  #BFIDD {
      width: 300px;
  }
  

#wrapper {
  margin: 10% auto;
  width: 60%;
  background-color: #F1D047;
}

#comment {
  padding: 10px;
}

#comment *,
#comment *:before,
#comment *:after {
  -webkit-box-sizing: border-box;
  -mox-box-sizing: border-box;
  box-sizing: border-box;
}

#createComment {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 15px;
}

#crc_comment_footer {
  display: grid;
  grid-template-columns: 1fr 80px;
  align-items: center;
}

#name {
  display: block;
  margin: 10px;
}

#comment {
  width: 100%;
  padding: 12px 16px;
}

#crc_label {
  width: 100%;
}

#crc_submit {
  background: #222;
  padding: 12px 16px;
  color: white;
  border: none;
  }
  #crc_submit:hover {
    background: #444444;
    cursor: pointer;
  }

  #crc_delete {
    background: #222;
    padding: 12px 16px;
    color: white;
    border: none;
    }
    #crc_delete:hover {
      background: #444444;
      cursor: pointer;
    }

  #crc_name_input {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 70%;
    width: 20%;
  }

#crc_comment_contact {
  display: grid;
  grid-auto-columns: 1fr 1fr 1fr 80px;
  align-items: center;
}

#crc_comment_input {
  margin-top: 10px;
  width: 95%;
}

h3 {
  margin-left: 15px;
  font-size: 30px;
}

.crcomment {
  border: 2px solid rgb(120, 115, 33);
  border-bottom: 4px solid #000000;
  padding: 20px;
  margin: 15px;
}

.crc_comment p:first-child {
  margin-top: 0;
}

.crc_meta {
  display: grid;
  grid-template-columns: 1fr 80px;
  align-items: center;
}

.crc_meta_date_author {
  font-size: 0.85rem;
}

.crc_meta_author {
  margin-left: 22px;
  font-weight: bold;
}

.crc_vote {
  text-align: right;
  display: grid;
  grid-template-columns: 1fr 20px;
  align-items: center;
}

.crc_vote_options {
  display: grid;
  grid-auto-columns: 1fr;
}

.crc_upvote,
.crc_downvote {
  cursor: pointer;
}

@media (max-width: 1000px) {
  .navbar, #Me, #artCardContainer {
    grid-template-columns: auto;
  }
 }

 @media (max-width: 500px) {
  .navbar, #Me, #artCardContainer {
    grid-template-columns: repeat(1, 223px);
  }
 }
